
.column {
    float: left;
    margin-bottom: 16px;
    padding: 0 10px;
    column-count: 4;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.containerSkills 
{
    padding-top: 20px;
}